.download-7-parent{
    --spacer:1rem;
display:grid;
gap: var(--spacer);
 grid-auto-flow: column; 
 grid-auto-columns: 21%;
 padding: 0 var(--spacer) var(--spacer);
 overflow-x: auto;
 overscroll-behavior-inline: contain;    
}
.downloadicon{
    display: grid;
    grid-template-columns: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}
.downloadicon > img{
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.download-7-parent{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline:var(--spacer,1rem) ;
}
.download-7-parent>*{
    scroll-snap-align: start;

}