*{
 
  color: #fff;
  font-family: 'poppins', sans-serif;
}
body {
  background-color: #000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;
}

.header .logo {
  font-size: 25px;
  font-family: "Sriracha", cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.music{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    transition: 0.4s;
  }
  
  .topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin-right: 20px;
   
  }
  
  .topnav a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav .btn{
    background-color: #5edaf0;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }
.downloadicon {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .download {
    margin-top: 3%;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2cm;
    box-shadow: var(--shadow-2);
  }
  .heading1{
    margin-top: 8%;
  }
  
  p{
    text-align: center;
    color: #F60;
  }
  .downloadicon1  {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .download1 {
    margin-top: 3%;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2cm;
    box-shadow: var(--shadow-2);
  }
  .slider {
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: all 0.5s ease-in-out; */
  }
  
  .slider img:first-child {
    z-index: 1;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }
  
  .navigation-button {
    text-align: center;
    position: relative;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }

  